celery==5.2.7
flower==1.1.0
Django==4.0.6
django-cors-headers==3.13.0
django-debug-toolbar==3.5.0
django-filter==22.1
djangorestframework==3.13.1
drf-nested-routers==0.93.4
mysqlclient==2.1.1
djoser==2.1.0
djangorestframework-simplejwt==4.8.0
Pillow==9.2.0
redis==4.3.4
# --dev pytest==7.1.2
# --dev pytest-django==4.5.2
# --dev pytest-watch==4.2.0
# --dev model_bakery=1.6.0
# --dev locust==2.10.1
# --dev django-silk==5.0.1